{% extends 'base.html.twig' %}

{% block title %}Soutenance index{% endblock %}

{% block body %}
{% include('./navbar/index.html.twig') %}
    <h1>Soutenance index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date_soutenance</th>
                <th>Note</th>
                <th>NomJury</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for soutenance in soutenances %}
            <tr>
                <td>{{ soutenance.id }}</td>
                <td>{{ soutenance.dateSoutenance ? soutenance.dateSoutenance|date('Y-m-d') : '' }}</td>
                <td>{{ soutenance.note }}</td>
                <td>
                <a href="/enseignant/{{soutenance.numjury.id}}"  style="color:blue"> 

                {{soutenance.numjury.nom}}
                </a>
                <td>
                    <a  class="btn btn-info" href="{{ path('app_soutenance_show', {'id': soutenance.id}) }}">show</a>
                    <a  class="btn btn-warning" href="{{ path('app_soutenance_edit', {'id': soutenance.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a   class="btn btn-success" href="{{ path('app_soutenance_new') }}">Create new</a>
{% endblock %}
